/*
Admin css
*/


#location_metabox {
  background: #f1f1f1 none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
}

#location_metabox .hndle {
  background: rgb(96, 173, 252) none repeat scroll 0 0;
  color: rgb(255, 255, 255);
}

#location_metabox .handlediv{
  color: rgb(255, 255, 255);
}



#location-list{}
	
#location-list .item {
  background: none repeat scroll 0 0 rgb(241, 241, 241);
  border-bottom: 1px solid rgb(221, 221, 221);
  cursor: pointer;
  display: block;
  padding: 4px 10px;
  width: auto;
}
	
	