@charset "utf-8";
/* CSS Document */

.job-count-by-location{}

.job-count-by-location .total {
  font-weight: bold;
  padding: 10px 0;
}

.job-count-by-location .single-location {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.job-count-by-location .single-location a {
  text-decoration: none;
}


.job-count-by-location .single-location .count {
  float: right;
}























