@charset "utf-8";
/* CSS Document */



.location-single {

}

.location-single .map-container {
  height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}
.location-single #map {
  height: 100%;
  width: 100%;
}



.location-single .logo {
  display: inline-block;
  height: 50px;
  margin-right: 20px;
  overflow: hidden;
  vertical-align: top;
  width: 50px;
}

.location-single .logo img {
  width: 100%;
}



.location-single .name {
  display: inline-block;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.location-single .country {
  display: block;
  font-size: 13px;
  font-weight: normal;
}

.location-single .description {
  font-size: 13px;
  line-height: normal;
  margin: 20px 0;
}

.location-single .job-list-header{

}



.location-single .location-header .description{}

.location-single .location-header .job-list-header{}


.location-single .related-location-container {}


.location-single .related-location-container .single-location {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  width: 100px;
}

.location-single .related-location-container .single-location img{}

.location-single .related-location-container .single-location a{
	text-decoration:none;
	color:#0076D7;
	outline:none;
}

